@import "tailwindcss";
@theme {
    --animate-fade: fade 1.5s ease-in-out;
    @keyframes fade {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    --animate-fadeUp: fadeUp 0.75s ease-in;
    @keyframes fadeUp {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    --animate-flash: flash 1s linear infinite;
    @keyframes flash {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
  }